[submodule "shared/global_scripts"]
	path = shared/global_scripts
	url = git@github.com:kiki830621/ai_martech_global_scripts.git
[submodule "shared/update_scripts"]
	path = shared/update_scripts
	url = git@github.com:kiki830621/ai_martech_update_scripts.git
[submodule "shared/nsql"]
	path = shared/nsql
	url = git@github.com:kiki830621/NSQL.git
[submodule "D_RACING"]
	path = D_RACING
	url = git@github.com:kiki830621/ai_martech_l4_D_RACING.git
[submodule "MAMBA"]
	path = MAMBA
	url = git@github.com:kiki830621/ai_martech_l4_MAMBA.git
[submodule "QEF_DESIGN"]
	path = QEF_DESIGN
	url = git@github.com:kiki830621/ai_martech_l4_QEF_DESIGN.git
[submodule "WISER"]
	path = WISER
	url = git@github.com:kiki830621/ai_martech_l4_WISER.git
[submodule "kitchenMAMA"]
	path = kitchenMAMA
	url = git@github.com:kiki830621/ai_martech_l4_kitchenMAMA.git
[submodule "shared/handbook"]
	path = shared/handbook
	url = git@github.com:kiki830621/ai_martech_handbook.git
